* {
  box-sizing: border-box;
}

fieldset {
  border: 0;
}

body{
  background-color: #FEF5E7 ; 
}

.image{
  margin-top: 30px;
}

.image img {
  width: 100%;
  height: auto;
  opacity: 0.7;
}

.align-block {
  margin-left: auto;
  margin-right: auto;
  border : 3px solid black;
  border-radius: 5px;
}

.question {
  background-color :red;
  color: white;
  width : 100%;
  font-weight: bold;
  border-radius: 5px;
  font-size: 1.5em;
}

h1 {
  font-size: 2em;
  font-family: 'Holtwood One SC', serif;
  color: white;
  margin-left: auto;
  margin-right: auto;
  text-align :center;
  background-color:#B03A2E;
  border-radius: 3px;
}

.instructions h2 {
  font-family: 'Permanent Marker', cursive;
  margin-left: 20px;
}

.instructions li {
  font-size: 20px;
  font-family: 'Permanent Marker', cursive;
}

.start-Quiz {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  text-align :center;
}

.start-Again input {
  font-size: 1.5em;
  font-family: 'Holtwood One SC', serif;
  cursor: pointer;
  -webkit-appearance: button;
}

.start-Quiz input {
  font-size: 1.5em;
  font-family: 'Holtwood One SC', serif;
  cursor: pointer;
  -webkit-appearance: button;
}

.form-align {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border :2px solid black;
  box-shadow: 10px 10px 5px #888888;
  padding: 5px;
}

.remove-display {
  display: none;
}


.show-Result {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border :3px solid black;
  border-radius: 5px;
  font-family: 'Racing Sans One', cursive;
  font-size: 1.5em;
}

.correct-Answer::after {
  content: '\2705';
}

.correct-Answer {
  border :2px solid green;
  border-radius:3px;
}

.wrong-Answer::after {
  content: '\274C';
}

.wrong-Answer{
  border :2px solid red;
  border-radius:3px;
}

.submit, .next {
  font-family: 'Bungee', cursive;
  cursor: pointer;
  -webkit-appearance: button;
  font-size:1.3em;
  margin-right: 50px;
}

.formInputParagraph label {
  font-family: 'Allan', cursive;
  font-size:1.5em;
  cursor: pointer;
}

.score-Content{
 text-align: center;
}

/*Span is an inline element, But how does marigin works there. Its said that marigin wont work for inline elements*/
.score-Content span {
  font-size: 1.2em;
  font-family: 'Holtwood One SC', serif;
  margin-right: 30px;
  text-align: center;
}
